.home
{
	background-color: #FFFFFF;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 0px;
	padding: 0px;
}

.main
{	
	padding: 0px;
	margin: 0px auto;
	border: solid 1px #808080;
	width: 800px;
	height: 100%;
}

h3
{
	color: #7f7f64;	
	font-size: 20px;
	font-weight: lighter;
	font-family: Times New Roman, Verdana, Tahoma;
	text-align: left;
}

.logo
{
	width: 150px;
	height: 80px;
	background: url(../images/logo.jpg) no-repeat top left;
	float: left;
	margin: 10px;
}

.header
{	
	width: 100%;
	height: 100px;
	float: left;
	background-color: #a30313;
}

.mainMenu
{
	padding: 80px 0px 0px 250px;
}

.mainMenu ul
{
	list-style: none;	
	margin: 0px;
	padding: 0px;
	vertical-align: bottom;	
}

.mainMenu li
{
	display: inline;
	margin: 0px;
	padding: 0px;
}

.mainMenu a
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana;
	text-align: left;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

.centralBlock
{
	clear: both;	
}

.leftBlock
{	
	width: 250px;
	height: 100%;
	min-height: 500px;
	float: left;
	background-color: #d4d0b6;
}

.leftMenu
{
	margin: 10px;
}

.leftMenu ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.leftMenu li
{
	margin: 0px;
	padding: 0px;
}

.leftMenu a
{
	color: #a30313;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana;
	text-align: left;
	text-decoration: none;
	line-height: 15px;	
	display: block;
	margin: 3px 10px;
	padding: 3px;
	border: solid 1px #808080;
	width: 180px;
}

.content
{	
	margin-left: 250px;
	height: 100%;
	min-height: 500px;
}

.footer
{	
	width: 100%;
	height: 15px;
	text-align: center;
	border-top: solid 1px #808080;
}

.choices
{
	margin: 0px;
	padding: 20px 40px;
	text-align: left;
}

.choices input
{
	height: 13px;
	margin: 3px;
	padding: 0px;	
}

.choices label
{
	line-height: 10px;
	margin: 0px;
	padding: 0px;
}

.choices input.submitButton
{
	height: auto;
	margin-left: 100px;
}

/*
.error
{
	color: #ff0000;
	font-weight: bold;
	text-align: center;
}
*/