body
{
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Arial, Times New Roman;
	font-size: 13px;
}

.info_message
{
	padding: 10px;
	color: #2D5E0C;
	background-color: #CFE1C5;
	border: solid 1px #2D5E0C;
}

.error_message
{
	margin: 0;
	padding: 10px;
	color: #B5151A;
	background-color: #DFC8CB;
	border: solid 1px #5F0C0E;
}

.login_table
{
	margin: 100px auto;
	padding: 10px;
	text-align: center;
	border: solid 2px black;
}

.login_table td
{
	padding: 0;
	margin: 0;
}

.pass_text_box
{
	width: 180px;
}

.button
{
	width: 40px;
	height: 40px;
	margin: 10px 10px 0 10px;
	padding: 0;
	border: 1px solid #CFE1C5;
	background-color: #F0F0F0;
}

.button:hover
{
	cursor: pointer;
}

.message_td
{
	height: 65px;	
}

.address_string_container
{
	margin: 20px 0;
	text-align: center;
}

.address_string
{
	width: 90%;	
}

.main_frame_container
{
	text-align: center;
}

.main_frame
{
	width: 90%;
	height: 600px;
	border: solid 1px #7F9DB9;
}

.menu_container
{
	margin: 20px auto;
	width: 90%;
	text-align: right;
}

.menu_table
{
	padding: 0;
	margin: 0 0 0 auto;
}

.menu_table td
{
	padding: 0 0 0 10px;
}

.run_button
{
	margin: 0;
	padding: 0 15px;
	border: 1px solid #AAAAAA;
	background-color: #AAFFAA;
}

.run_button:hover
{
	cursor: pointer;
}

.logout_button
{
	margin: 0;
	padding: 0 15px;
	border: 1px solid #AAAAAA;
	background-color: #FFAAAA;
}

.logout_button:hover
{
	cursor: pointer;
}

.programs_list
{
	margin: 0;
	padding: 0;
	border: 1px solid #AAAAAA;
	background-color: #AAFFAA;
}